<mat-card class="plant-card">
  <mat-card-content>
    <mat-card-title>{{ plant.commonname }}</mat-card-title>
    <h3><strong>Binomial Name: </strong>{{ plant.binomialname }}</h3>
    <h3><strong>Common Name: </strong>{{ plant.commonname }}</h3>
    <h3><strong>Category: </strong>{{ plant.plantcategory }}</h3>
    <h3><strong>Sub-Category: </strong>{{ plant.plantsubtype }}</h3>
    <h3><strong>Type: </strong>{{ plant.planttype }}</h3>
    <h3><strong>Variety id: </strong>{{ plant.varietyid }}</h3>
  </mat-card-content>
</mat-card>
